.Yandex_Main_Page
{
    display: grid;
    grid-template-columns: 175px 330px 330px 330px 175px;
    grid-template-areas: 'a k k k b'
        'm c c d v'
        'e f f f x'
        'p g g g z'
        'p q w l z'
        'p q w l z';
}

.city
{
    grid-area: a;
    margin-left: 20px;
    color: rgb(169, 184, 169);
}

input[name='property'],
.properties,
.content_label,
input[name='1'],
.next,
.joke1,
.joke2,
.joke3,
.joke4,
.joke5
{
    display: none;
}

label
{
    cursor: pointer;
}

input[name='show_properties']:checked ~ .properties
{
    display: block;
    position: absolute;
    background-color: black;
}

input[name='show_properties']:checked ~ .properties > input[name='property']
{
    display: block;
}

input[name='show_properties']:checked ~ .properties > .content_label
{
    display: block;
    margin-left: 20px;
    background-color: black;
    color: white;
}

.m:checked ~ main > .authorization > .properties > .m,
.t:checked ~ main > .authorization > .properties > .t,
.w:checked ~ main > .authorization > .properties > .w,
.j:checked ~ main > .authorization > .properties > .j,
.a:checked ~ main > .authorization > .properties > .a,
.p:checked ~ main > .authorization > .properties > .p
{
    opacity: .5;
}

input[id='most_visited']:checked ~ main > .area_q > .most_visited,
input[id='TV']:checked ~ main > .area_w > .TV,
input[id='weather']:checked ~ main > .area_l > .weather,
input[id='jokes']:checked ~ main > .area_q > .jokes,
input[id='auto']:checked ~ main > .area_w > .auto,
input[id='poster']:checked ~ main > .area_l > .poster
{
    display: none;
}

input[id='most_visited']:checked ~ input[id='jokes']:checked ~ .Yandex_Main_Page
{
    grid-template-areas: 'a k k k b'
        'm c c d v'
        'e f f f x'
        'p g g g z'
        'p w l o z'
        'p u y o z';
}

input[id='TV']:checked ~ input[id='auto']:checked ~ .Yandex_Main_Page
{
    grid-template-areas: 'a k k k b'
        'm c c d v'
        'e f f f x'
        'p g g g z'
        'p q l o z'
        'p u y o z';
}

.authorization
{
    grid-area: b;
}

.login::first-letter
{
    color: red;
}

.news
{
    grid-area: c;
}

a
{
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.news_city
{
    color: rgb(116, 116, 240);
}

.news_time
{
    color: rgb(169, 184, 169);
    font-size: 100%;
}

li
{
    margin-top: 10px;
}

.advertising
{
    width: 200px;
    grid-area: d;
    margin-bottom: 20px;
}

.advertising_photo
{
    width: 80%;
}

.search_header
{
    grid-area: e;
    text-align: right;
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 13px;
}

.search_header::first-letter
{
    color: red;
}

.search
{
    grid-area: f;
}

.search_link
{
    margin-bottom: 7px;
}

.search_link > a
{
    margin-right: 20px;
}

.search_line
{
    display: inline-block;
}

.search_line > input
{
    width: 820px;
    height: 20px;
    border: 2px solid rgb(253, 207, 2);
}

.search_button
{
    display: inline-block;
    background-color: rgb(253, 207, 2);
    border: 0;
    height: 26px;
    font-weight: bold;
    width: 10%;
    margin-left: -5px;
}

.search > .pe
{
    display: inline;
}

.panorama_advertising
{
    margin-top: 30px;
    width: 100%;
    grid-area: g;
    margin-bottom: 20px;
}

.panorama_advertising_photo
{
    width: 91%;
    height: 100px;
}

.area_q
{
    grid-area: q;
}

.area_w
{
    grid-area: w;
}

.area_l
{
    grid-area: l;
}

.most_visited
{
    margin-bottom: 30px;
}

.TV
{
    margin-bottom: 30px;
}

.weather
{
    margin-bottom: 30px;
}

input[id='front-1']:checked ~ .joke1,
input[id='front-2']:checked ~ .joke2,
input[id='front-3']:checked ~ .joke3,
input[id='front-4']:checked ~ .joke4,
input[id='front-5']:checked ~ .joke5
{
    margin-top: 10px;
    display: block;
}

input[id='front-1']:checked ~ .next[for='front-2'],
input[id='front-2']:checked ~ .next[for='front-3'],
input[id='front-3']:checked ~ .next[for='front-4'],
input[id='front-4']:checked ~ .next[for='front-5'],
input[id='front-5']:checked ~ .next[for='front-1']
{
    margin-top: 10px;
    display: block;
    color: blue;
    cursor: pointer;
}

.blurTop 
{
    width: 265px;
    height: 40px;
    position: absolute;
    background: linear-gradient(to top, rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1));
}

.auto_scrollable
{
    overflow: auto;
    max-height: 250px;
    margin-right: 50px;
}

.blurBot
{
    width: 265px;
    height: 40px;
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), 
    rgba(255, 255, 255, 1));
    transform: translateY(200px);
}

.TV_img
{
    margin-left: 15px;
}
